*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-color: hsl(47, 88%, 63%);
}
.card {
    max-height: 515px;
    max-width: 375.5px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    box-shadow: 8px 8px 0px black;
    padding-top: 20px;
    margin: 15% auto;
}
img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 18px;
    padding-bottom: 10px;
}
.learning {
    font-family: Figtree, sans-serif;
    font-weight: 800;
    margin-left: 22px;
    border: 2px solid hsl(47, 88%, 63%);
    background-color: hsl(47, 88%, 63%);
    padding: 3px;
    border-radius: 5px;
}
.published {
    display: block;
    margin-top: 20px;
    margin-left: 22px;
    font-family: Figtree, sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}
h1 {
    font-family: Figtree, sans-serif;
    font-weight: 800;
    margin-left: 22px;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
p {
    font-family: Figtree, sans-serif;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    margin-left: 22px;
    padding-bottom: 4px;
}
.picture-and-name {
    display: flex;
    align-items: center;
    position: relative;
}
.profile-picture {
    width: 30px;
    margin-left: 22px;
    margin-top: 15px;
}
.name {
    font-family: Figtree, sans-serif;
    font-weight: 800;
    position: absolute;
    left: 66px;
    padding-bottom: 12px;
}
footer {
    text-align: center;
    font-family: Figtree, sans-serif;
    font-weight: 500;
}
